<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=az532ob2psureshkjan1;AccountKey=t/PD/dWdIs24ggo+7ukcBeV0qqIWdggWGnQrXEsR7cCnE+P0Ua8/YV7vlxXFS1wAQTMsQJOalF7TLfJf9TM2EQ==;EndpointSuffix=core.windows.net "/>
</appSettings>
</configuration>